.home {
  padding: {
    top: space(xlarge);
    bottom: space(xlarge);
  };

  &__title {
    margin-bottom: space(medium);
  }

  &__search {
    margin-bottom: space(huge);

    &.smaller-margin {
      margin-bottom: space(large);
    }
  }

  &__subtitle {
    margin-bottom: space(medium);

    &.bigger-margin {
      margin-bottom: space(large);
    }
  }

  &__switch-menu {
    margin-bottom: space(xlarge);

    @include media(medium, max) {
      &,
      .row,
      .col {
        margin: {
          right: 0;
          left: 0;
        };

        padding: {
          right: 0;
          left: 0;
        };

        width: 100%;
      }
    }
  }

  hr {
    margin-bottom: space(large);
  }

  @include media(medium) {
    &__subtitle {
      margin-bottom: space(large);
    }
    &__switch-menu {
      margin-bottom: space(xxlarge);
    }
  }

  @include media(large) {
    padding: {
      top: space(xxhuge);
      bottom: space(xxhuge);
    };

    &__search {
      margin-bottom: space(xhuge);
    }
  }
}
