<div class="home" [atEndOfThePage]="atEndOfThePage" [ref]="this">
  <div class="container">
    <div class="row">
      <h1
        *ngIf="!isSearchPage"
        class="home__title heading heading__title col"
      >
        <span class="heading--line">Find movies & more.</span>
        <span class="heading--line">Explore now.</span>
      </h1>

      <div
        [class.smaller-margin]="isSearchPage"
        class="home__search col col-md-9 col-lg-7"
      >
        <app-search-input
          [hideButton]="isSearchPage"
          (searchInputValueChange)="onSearchClick($event)"
        ></app-search-input>
      </div>
    </div>
  </div>

  <hr class="col" *ngIf="isSearchPage">

  <div
    [class.bigger-margin]="isSearchPage"
    class="container"
  >
    <div class="row">
      <h2 class="home__subtitle heading heading__subtitle col">{{ subtitle }}</h2>
    </div>
  </div>

  <div
    *ngIf="!isSearchPage"
    class="home__switch-menu container"
  >
    <app-switch-menu
      [activeItem]="activeSwitchItem"
      [items]="switchMenuItems"
      (menuChange)="onMenuChange($event)"
    ></app-switch-menu>
  </div>

  <div class="container">
    <app-movie-list
      [movieList]="movieList"
      (cardClick)="getMovieDetails($event)"
    ></app-movie-list>

    <div class="row">
      <span
        *ngIf="noResults()"
        class="home__no-results col"
      >There were no results, try again!</span>
    </div>
  </div>

  <div
    *ngIf="isLoading"
    class="home__loading"
  >
    <div class="loading"></div>
  </div>
</div>

<app-movie-details
  *ngIf="showDetails"
  [details]="movieDetails"
  (close)="closeModal()"
></app-movie-details>
