$border-corners: (
  round: 5,
  pill: 24,
  circle: 50,
);

@function border-radius($type) {
  @return #{map-get($border-corners, $type)}px;
}

@mixin border-radius($type) {
  border-radius: border-radius($type);
}
