@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500&display=swap");

$families: (
  bebas: "Bebas Neue, cursive",
  poppins: "Poppins, sans-serif",
);

$weights: (
  thin: 300,
  normal: 400,
  medium: 500,
);

$sizes: (
  tiny: 11,
  xsmall: 12,
  small: 14,
  base: 16,
  medium: 32,
  large: 40,
  huge: 64,
);

$line-heights: (
  tiny: 16,
  xsmall: 18,
  small: (
    thin: 20,
    tall: 24,
  ),
  base: (
    thin: 24,
    tall: 28,
  ),
  medium: 36,
  large: 42,
  huge: 66,
);

@mixin font-family($family) {
  font-family: #{map-get($families, $family)};
}

@mixin font-weight($weight) {
  font-weight: map-get($weights, $weight);
}

@mixin font-size($size: base, $height: "") {
  $height-map: ($size, $height);

  font-size: #{map-get($sizes, $size)}px;
  line-height: #{map-get-plus($line-heights, $height-map...)}px;
}
