$spaces: (
  tiny: 4,
  xsmall: 8,
  small: 12,
  base: 16,
  medium: 24,
  large: 32,
  xlarge: 40,
  xxlarge: 48,
  huge: 56,
  xhuge: 71,
  xxhuge: 80,
);

@function space($space) {
  @return #{map-get($spaces, $space)}px;
}
