input {
  width: 100%;

  &[type="text"] {
    @include font-family(poppins);
    @include font-size(xsmall);

    padding: space(small) space(large);

    background-color: color(dark, medium);
    color: color(dark, lighter);

    @include media(medium) {
      @include font-size(small, thin);
    }
  }

  &[type="radio"] {
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    + label {
      @include font-size(small, thin);
      @include border-radius(pill);

      flex-shrink: 0;
      margin-right: space(small);
      padding: space(xsmall) space(base);
      background-color: color(primary);
    }
  }
}
